@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/top-view-truck-boxes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  position: relative;
  max-width: 430px;
  width: 100%;
  margin-top: -10%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.register-container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.register-container .input-box {
  height: 40px;
  margin: 5px 0;
}

.input-box {
  height: 52px;
  margin: 18px 0;
}

.input-box input,
select {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus {
  border-color: #4070f4;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(228, 83, 83);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#errorMessage {
  font-size: 14px;
  color: white;
}

.popup-content {
  text-align: center;
}

.popup button {
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  background: #4070f4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}